@font-face{
	font-family: Open Sans;
	src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face{
	font-family: Open Sans;
	src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
	font-weight: bold;
}

body{
	margin: 0 auto;
}

div.tudo{
	width: 100%;
	height: 100%;
	color: #fff;
	
	font-family: Open Sans;
}

section{
	width: 100%;
	padding: 0px 20px;
	box-sizing: border-box;
}

	section.apresentacao{
		top: 0px;
		width: 100%;
		height: 101%;
		background-color: rgb(10,88,110);
		position: absolute;
		transition: top 1s;
	}
	
		section.apresentacao.up{
			
		}

		section.apresentacao div.apresenta{
			height: 57px;
			text-align: center;
			position: absolute;
			top: 30px;
			
			left: 50%;
			transform: translateX(-50%);
		}


			section.apresentacao div.apresenta img.logo-boulevard{
				height:	100%;
			}

			section.apresentacao div.apresenta span{
				line-height: 20px;
				
				display: block;
			}


	section.apresentacao div.logo-container{
		position: absolute;
		
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
		
		max-height:	calc(100% - 270px);
		max-width: calc(100% - 20px);
	}

		section.apresentacao div.logo-container img.logo{
			
			margin-bottom: 15px;
			
			
			max-width: calc(100% - 20px);
			max-height:	calc(100% - 300px);
		}


		section.apresentacao div.logo-container div.data-e-local{
			width: 500px;
		}
		
			section.apresentacao div.logo-container div.data-e-local span{
				font-size: 25px;
				padding: 7px;
				
				background: #fff;
				color: rgb(10,88,110);
				display: inline-block;
				
			}

			section.apresentacao div.logo-container div.data-e-local span.data{
				
			}

			section.apresentacao div.logo-container div.data-e-local span.local{
				margin-left: 5px;
			}

	section.apresentacao div.realizacao{
		width: 100px;
		text-align: center;
		
		position: absolute;
		
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
	}

		section.apresentacao div.realizacao span{
			line-height: 20px;	
			display: block;
			margin-bottom: 5px;
		}

		section.apresentacao div.realizacao img{
			height: 57px;
		}

section.palestrantes{
	padding: 0px;
}

	section.palestrantes div.painel-palestrantes{
		height: 300px;
		width: 100%;
		background-color: rgba(10,88,110,0.9);
		padding: 0px 20px;
		box-sizing: border-box;
	}

	section.palestrantes ul.lista-palestrantes{
		background-color: rgba(10,88,110,0.8);
		width: 100%;
		padding: 20px 20px;
		margin: 0px;
		
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		
		box-sizing: border-box;
	}

		section.palestrantes ul.lista-palestrantes li{
			margin: 0px;
			display: block;
			width: 150px;
			text-align: center;
		}

			section.palestrantes ul.lista-palestrantes li img{
				width: 100px;
				
			}

			section.palestrantes ul.lista-palestrantes li span{
				display: inline-block;
				font-weight: bold;
				
				text-align: center;
			}


section.programacao{
	background-color: rgba(10,88,110,0.7);
	overflow: auto;
}

	section.programacao div.lista-container{
		width: 100%;
		height: 309px;
		position: relative;
		overflow: hidden;
		
		left: 50%;
		transform: translateX(-50%);
		
	}

section.programacao> div.lista-container >ul{
		padding: 20px 0px;
		border-top: 2px solid;
		margin-top: 70px;
		position: absolute;
	
		width: 1870px;
		left: 0px;
	
		transition: left 1s;
	}

		section.programacao> div.lista-container >ul > li{
			background-color: #fff;
			color: #000;
			list-style: none;
			border-radius: 5px;
			width: 200px;
			margin-left: 10px;
			display: inline-block;
			float: left;
			padding: 10px;
			position: relative;
		}

			/*section.programacao> div.lista-container > ul > li:last-child{
				margin-right: 0px;
			}*/

			section.programacao > div.lista-container > ul > li:after{
				content: "";
				background-color: #fff;
				border-radius: 50%;
				width: 10px;
				height: 10px;
				display: block;
				
				position: absolute;
				top: -26px;
				transform: translateX(-50%);
				left: 50%;
			}

			section.programacao > div.lista-container > ul > li:before{
				content: attr(data-hora);
				
				color: rgba(255,255,255,0.4);
				position: absolute;
				display: block;
				left: 50%;
				/*left: -90px;*/
				bottom: calc(100% + 42px);
				transform: translateX(-50%);
				
			}
				
			section.programacao > div.lista-container > ul > li div.ponta{
				/*content: "";*/
				width: 0px;
				height: 0px;
				/*border-left: 10px solid red;*/
				border-left: 10px solid transparent; 
				border-bottom: 10px solid #fff;
				
				border-right: 10px solid transparent;
				position: absolute;
				top: -9px;
				left: 50%;
				transform: translateX(-50%);
				
			}

			section.programacao > div.lista-container > ul > li span.titulo{
				font-weight: bold;
				font-family: Open Sans;
				text-align: center;
				display: block;
			}


				section.programacao> div.lista-container > ul > li > ul{
					padding: 0px;
					margin: 0px;
					margin-top: 5px;
				}

					section.programacao> div.lista-container > ul > li > ul > li{
						padding: 0px;
						margin: 0px;
						list-style: none;
						line-height: 30px;
					}

						section.programacao> div.lista-container > ul > li > ul > li:not(:last-child){
							margin-bottom: 5px;
						}

						section.programacao> div.lista-container > ul > li > ul > li img{
							width: 30px;
							height: 30px;
							border-radius: 50%;
							float: left;
							margin-right: 5px;
						}

						section.programacao> div.lista-container > ul > li > ul > li span.nome{
							display: inline-block;
						}

/*

	PROGRAMAÇÃO NA VERTICAL

	section.programacao>ul{
		padding: 20px;
		border-left: 2px solid;
		margin-left: 70px;
	}

		section.programacao>ul > li{
			background-color: #fff;
			color: #000;
			list-style: none;
			border-radius: 5px;
			width: 200px;
			margin-bottom: 10px;
			display: block;
			padding: 10px;
			position: relative;
		}

			section.programacao>ul > li:last-child{
				margin-bottom: 0px;
			}

			section.programacao > ul > li:after{
				content: "";
				background-color: #fff;
				border-radius: 50%;
				width: 10px;
				height: 10px;
				display: block;
				
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: -26px;
			}

			section.programacao > ul > li:before{
				content: attr(data-hora);
				
				color: rgba(255,255,255,0.4);
				position: absolute;
				display: block;
				top: 50%;
				right: calc(100% + 42px);
				transform: translateY(-50%);
				
			}

						
				
			section.programacao>ul > li div.ponta{
				width: 0px;
				height: 0px;
				border-top: 10px solid transparent; 
				border-bottom: 10px solid transparent;
				
				border-right: 10px solid #fff;
				position: absolute;
				top: 50%;
				left: -9px;
				transform: translateY(-50%);
				
			}

			section.programacao>ul > li span.titulo{
				font-weight: bold;
				font-family: Open Sans;
				text-align: center;
				display: block;
			}


				section.programacao>ul > li > ul{
					padding: 0px;
					margin: 0px;
					margin-top: 5px;
				}

					section.programacao>ul > li > ul > li{
						padding: 0px;
						margin: 0px;
						list-style: none;
						line-height: 30px;
					}

						section.programacao>ul > li > ul > li:not(:last-child){
							margin-bottom: 5px;
						}

						section.programacao>ul > li > ul > li img{
							width: 30px;
							height: 30px;
							border-radius: 50%;
							float: left;
							margin-right: 5px;
						}

						section.programacao>ul > li > ul > li span.nome{
							display: inline-block;
						}
*/

	section.programacao div.botoes{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		display: inline-block;
		margin: 20px 0px;
		
		
	}
		section.programacao div.botoes button{
			width: 50px;
			height: 50px;
			background-color: rgba(255,255,255,0.2);
			
			color: #fff;
			border-radius: 50%;
			text-align: center;
			line-height: 50px;
			outline: none;
			float: left;
			
			border: none;
		}

			section.programacao div.botoes button:hover{
				background-color: rgba(255,255,255,0.1);
				cursor: pointer;
			}

			section.programacao div.botoes button.go-left{

			}

			section.programacao div.botoes button.go-right{

			}

			section.programacao div.botoes div.dots{
				display: inline-block;
				margin: 0px 10px;
				height: 50px;
				float: left;
			}

				section.programacao div.botoes div.dots div{
					width: 5px;
					height: 5px;
					background-color: rgba(255,255,255,0.2);
					border-radius: 50%;
					display: inline-block;
					margin-right: 5px;
					
					top: 50%;
					transform: translateY(-50%);
					position: relative;
					float: left;
					
					transition: background-color 0.5s, width 0.5s, height 0.5s;
				}

					section.programacao div.botoes div.dots div:last-child{
						margin-right: 0px;
					}

					section.programacao div.botoes div.dots div.current{
						width: 10px;
						height: 10px;
						background-color: #fff;
					}

section.patrocinadores{
	background-color: rgba(10,88,110,0.6);
	padding: 20px;
	overflow: hidden;
}

	section.patrocinadores h2{
		padding: 0px;
		margin: 20px 0px;
		font-size: 16px;
	}

	section.patrocinadores div.master{
		width: 230px;
		padding: 0px 30px 30px 30px;
		box-sizing: border-box;
		
		background-color: rgba(10,88,110,0.2);
		
		border-radius: 3px;
		margin-right: 20px;
		
		overflow: hidden;
		
		float: left;
		
		display: inline-block;
		text-align: center;
	}

		section.patrocinadores div.master img{
			width: 100%;
			
		}
	
	section.patrocinadores ul.lista-patrocinio{
		padding: 0px;
		margin: 0px;
		display: flex;
		flex-direction: row;
		
		
		flex-wrap: wrap;
		
		justify-content: space-between;
		
		flex-basis: start;
		
		align-content: center;
		
	}

		section.patrocinadores ul.lista-patrocinio li{
			list-style: none;
			height: 100px;
			width: 100px;
			margin-right: 20px;
			
		}

			section.patrocinadores ul.lista-patrocinio li img{
				max-height: 100px;
				max-width: 100px;
				
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}

			section.patrocinadores ul.lista-patrocinio li{
				
			}

			section.patrocinadores ul.lista-patrocinio li:last-child{
				flex: auto;
				margin: 0px;
			}

section.local{
	background: rgba(10,88,110,0.5);
	position: relative;
	overflow: auto;
}

	section div.glass{
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		position: absolute;
		background: transparent;
	}

	section.local div#map{
		width: 100%;
		height: 300px;
		margin: 10px 0px;
	}

section.inscricao{
	height: 300px;
	background-color: rgba(10,88,110,0.4);
}

section.contato{
	height: 300px;
	background-color: rgba(10,88,110,0.3);
}

